img {
  margin: 5px;
}

.container {
  margin: auto;
  width: 80%;
  padding: 20px;
}

#submit-btn {
  margin-left: 20px;
}

#remove-btn {
  margin-left: 20px;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
}

.require {
  font-size: 15px;
  color: red;
}

label a {
  color: red;
}
